.dropdown {
  position: relative;
  z-index: 99;

  &__toggle {
    border: 0;
    outline: 0;
    background-color: transparent;
    position: relative;
  }

  &__content {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: max-content;
    max-width: 400px;
    background-color: var(--mainBg);
    box-shadow: var(--shadowDark);
    border-radius: 18px;
    //overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    padding: var(--mobileSpacing);
    font-size: 1rem;

    &.active {
      transform: scale(1);
      transition: transform 0.5s var(--transitionCubic);

      &:before {
        content: '';
        --size: 16px;
        width: var(--size);
        height: var(--size);
        background-color: var(--mainBg);
        position: absolute;
        right: 12px;
        top: -5px;
        transform: rotate(65deg);
      }
    }

    &__footer {
      padding: 0 20px;
      text-align: center;
      font-weight: 500;

      a {
        text-decoration: none;
        transition: color .3s ease-in-out;

        &:hover {
          color: var(--mainColor);
          transition: color .3s ease-in-out;
        }
      }
    }
  }
}