.dropdown {
  position: relative;
  z-index: 99;

  &__toggle {
    --size: 50px;
    min-width: var(--size);
    height: var(--size);
    border: 0;
    outline: 0;
    background-color: var(--white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: var(--size);

    & i {
      font-size: 2.25rem;
    }
  }

  &__content {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: max-content;
    max-width: 400px;
    background-color: var(--white);
    box-shadow: var(--shadowDark);
    border-radius: 18px;
    //overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    padding: var(--mobileSpacing);
    font-size: 1rem;

    &.active {
      transform: scale(1);
      transition: transform 0.5s var(--transitionCubic);

      &:before {
        content: '';
        --size: 16px;
        width: var(--size);
        height: var(--size);
        background-color: var(--white);
        position: absolute;
        right: 18px;
        top: -2px;
        transform: rotate(45deg);
      }
    }

    &__item {

      li {
        font-size: .9rem;
        line-height: 1.2rem;
        padding-left: 20px;
        position: relative;
        margin-bottom: 10px;

        &.mail {
          color: var(--success);
        }

        &.message {
          color: var(--secondary);
        }

        &.error {
          color: var(--danger);
        }

        &.reminder {
          color: var(--primary);
        }

        i {
          position: absolute;
          left: 0;
          top: 2px;
          font-size: 1rem;
        }
      }
    }

    &__footer {
      padding: 0 20px;
      text-align: center;
      font-weight: 500;

      a {
        text-decoration: none;
        transition: color .3s ease-in-out;

        &:hover {
          color: var(--primary);
          transition: color .3s ease-in-out;
        }
      }
    }
  }
}