.progress-bar {
  height: 6px;
  background-color: var(--light);
  border-radius: 2.5px;

  &__inner {
    border-radius: 2.5px;
    height: 100%;

    &.begin {
      background-color: var(--success);
    }

    &.normal {
      background-color: var(--primary);
    }

    &.high {
      background-color: var(--danger);
    }
  }
}