.messages {

  &__block {

    li {
      position: relative;
      padding: 10px 10px 10px 40px;

      &.mail {
        color: var(--success);
      }

      &.message {
        color: var(--secondary);
      }

      &.error {
        color: var(--danger);
      }

      &.reminder {
        color: var(--primary);
      }

      &.unreaded {
        background: var(--white);
        font-weight: 400;
      }

      i {
        position: absolute;
        left: 10px;
        top: 15px;
        font-size: 1rem;
      }
    }
  }
}