.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 20px auto 20px 0;

  &[class*="-primary"] {
    color: var(--primary);
  }

  &[class*="-secondary"] {
    color: var(--secondary);
  }

  &[class*="-success"] {
    color: var(--success);
  }

  &[class*="-danger"] {
    color: var(--danger);
  }

  &[class*="-warning"] {
    color: var(--warning);
  }

  &[class*="-info"] {
    color: var(--info);
  }

  &[class*="-light"] {
    color: var(--white);
  }

  i {
    margin-right: 10px;
  }
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.7rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.3rem;
}

.h5 {
  font-size: 1.2rem;
}

.h6 {
  font-size: 1.1rem;
}
