.search {
  --size: 50px;
  position: relative;
  height: var(--size);
  background-color: var(--white);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
  overflow: hidden;

  & > input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    font-size: 1rem;
    font-weight: 300;
    border-radius: var(--borderRadius);
    color: var(--secondary);
    background-color: var(--white);
    border: 1px solid var(--light);
    transition: all .3s ease-in-out;

    &:focus {
      border: 1px solid var(--primary);
      transition: all .3s ease-in-out;
    }
  }

  & > i {
    font-size: 1.5rem;
    position: absolute;
    right: 15px;
    top: 15px;
    color: var(--primary);
  }
}
