.box {
  padding: 20px 30px;
  border-radius: var(--borderRadius);
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  transition: all 0.5s ease-in-out 0s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:not(&__full-height)::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
                    to bottom right,
                    var(--primary),
                    var(--light)
    );
    position: absolute;
    left: -50%;
    bottom: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
    z-index: -1;
  }

  &:hover::before {
    transform: scale(2.75);
  }

  &__primary {
    background-color: var(--primary);
    color: var(--white);
  }

  &__secondary {
    background-color: var(--secondary);
    color: var(--white);
  }

  &__success {
    background-color: var(--success);
    color: var(--white);
  }

  &__danger {
    background-color: var(--danger);
    color: var(--white);
  }

  &__warning {
    background-color: var(--warning);
    color: var(--white);
  }

  &__info {
    background-color: var(--info);
    color: var(--black);
  }

  &__light {
    background-color: var(--light);
    color: var(--black);
  }

  &__white {
    background-color: var(--white);
    color: var(--black);
  }

  &__full-height {
    height: calc(100% - var(--spacing));

    @media only screen and (max-width: 1366px) {
      height: calc(100% - var(--mobileSpacing));
    }
  }
}