@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root {
  --primary: #8624db;
  --secondary: #4e4d4f;
  --success: #4caf50;
  --danger: #db190c;
  --warning: #ffa500;
  --info: #0dcaf0;
  --light: #e3e4ea;
  --white: #fff;
  --black: #000;

  --fontFamily: 'Roboto', sans-serif;

  --fontSizeNormal: 1.12rem;
  --fontSizeMedium: 1.25rem;
  --fontSizeLarge: 1.56rem;

  --sideBarWidth: 350px;
  --sideBarLogoHeight: 130px;
  --spacing: 28px;

  --mobileSpacing: 14px;
  --borderRadius: 30px;

  --transitionCubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  --shadowLight: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadowDark: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
